<!-- INDEX START -->
<ul>
<li><a href='tdatdbd.html#home'>DBD::Teradata</a>
<li><a href='tdatdbd.html#description'>Description</a>
<li><a href='tdatdbd.html#version'>Version</a>
<li><a href='tdatdbd.html#prereq'>Prerequisites</a>
<li><a href='tdatdbd.html#install'>Installation</a>
<ul>
<li><a href='tdatdbd.html#unixinst'>Unix/Linux Installation</a>
<li><a href='tdatdbd.html#wininst'>Windows Installation</a>
</ul>
<li><a href='tdatdbd.html#behavior'>Usage Guide</a>
<ul>
<li><a href='tdatdbd.html#dsn'>Data-Source Name</a>
<li><a href='tdatdbd.html#cst'>Connections, Sessions and Transactions</a>
<li><a href='tdatdbd.html#charsets'>Connection Character Sets</a>
<li><a href='tdatdbd.html#types'>Data Types</a>
<li><a href='tdatdbd.html#optimize'>prepare() Optimization</a>
<li><a href='tdatdbd.html#parmsql'>Parameterized SQL</a>
<li><a href='tdatdbd.html#mstmts'>Multi-Statement and MACRO Requests</a>
<li><a href='tdatdbd.html#sumsel'>Summarized SELECT Requests</a>
<li><a href='tdatdbd.html#arybind'>Using execute_array()</a>
<li><a href='tdatdbd.html#utilsupp'>Utility Interfaces</a>

<ul>
<li><a href='tdatdbd.html#utilif'>ETL Utility Interface</a>
<li><a href='tdatdbdfl.html'>Fastload</a>
<li><a href='tdatdbdml.html'>MultiLoad</a>
<li><a href='tdatdbdfx.html'>FastExport</a>
<li><a href='tdatdbd.html#pmpc'>PM/API (MONITOR)</a>
<li><a href='tdatdbd.html#dbccons'>Remote Console</a>
</ul>

<li><a href='tdatdbd.html#dblbuf'>Double Buffering</a>
<li><a href='tdatdbd.html#cursors'>Updatable Cursors</a>
<li><a href='tdatdbd.html#sprocs'>Stored Procedures</a>
<li><a href='tdatdbd.html#errors'>Error Handling</a>
<li><a href='tdatdbd.html#diags'>Diagnostics</a>
<li><a href='tdatdbd.html#specattr'>Driver-Specific Attributes</a>

<ul>
<li><a href='tdatdbd.html#active'>tdat_active</a>
<li><a href='tdatdbd.html#bufsize'>tdat_bufsize</a>
<li><a href='tdatdbd.html#casespec'>tdat_CASESPECIFIC</a>
<li><a href='tdatdbd.html#colcharset'>tdat_CHARSET</a>
<li><a href='tdatdbd.html#charset'>tdat_charset</a>
<li><a href='tdatdbd.html#format'>tdat_FORMAT</a>
<li><a href='tdatdbd.html#compatible'>tdat_compatible</a>
<li><a href='tdatdbd.html#database'>tdat_database</a>
<li><a href='tdatdbd.html#format'>tdat_FORMAT</a>
<li><a href='tdatdbd.html#formatted'>tdat_formatted</a>
<li><a href='tdatdbd.html#bignum'>tdat_has_bignum</a>
<li><a href='tdatdbd.html#hostid'>tdat_hostid</a>
<li><a href='tdatdbd.html#keepresp'>tdat_keepresp</a>
<li><a href='tdatdbd.html#lsn'>tdat_lsn</a>
<li><a href='tdatdbd.html#mlmask'>tdat_mlmask</a>
<li><a href='tdatdbd.html#tdmode'>tdat_mode</a>
<li><a href='tdatdbd.html#moreres'>tdat_more_results</a>
<li><a href='tdatdbd.html#nobigint'>tdat_no_bigint</a>
<li><a href='tdatdbd.html#nocli'>tdat_no_cli</a>
<li><a href='tdatdbd.html#raw'>tdat_raw</a>
<li><a href='tdatdbd.html#raw_in'>tdat_raw_in</a>
<li><a href='tdatdbd.html#raw_out'>tdat_raw_out</a>
<li><a href='tdatdbd.html#progress'>tdat_progress</a>
<li><a href='tdatdbd.html#reqsize'>tdat_reqsize</a>
<li><a href='tdatdbd.html#respsize'>tdat_respsize</a>
<li><a href='tdatdbd.html#sessno'>tdat_sessno</a>
<li><a href='tdatdbd.html#spprint'>tdat_sp_print</a>
<li><a href='tdatdbd.html#spsave'>tdat_sp_save</a>
<li><a href='tdatdbd.html#stnum'>tdat_stmt_num</a>
<li><a href='tdatdbd.html#stinfo'>tdat_stmt_info</a>
<li><a href='tdatdbd.html#title'>tdat_TITLE</a>
<li><a href='tdatdbd.html#typestr'>tdat_TYPESTR</a>
<li><a href='tdatdbd.html#usescli'>tdat_uses_cli</a>
<li><a href='tdatdbd.html#utility'>tdat_utility</a>
<li><a href='tdatdbd.html#vartext_in'>tdat_vartext_in</a>
<li><a href='tdatdbd.html#vartext_out'>tdat_vartext_out</a>
<li><a href='tdatdbd.html#dbver'>tdat_version</a>
<li><a href='tdatdbd.html#versnum'>tdat_versnum</a>
</ul>

<li><a href='tdatdbd.html#funcs'>Driver-Specific Functions</a>
<ul>
<li><a href='tdatdbd.html#bindpary'>tdat_BindParamArray</a>
<li><a href='tdatdbd.html#bindcary'>tdat_BindColArray</a>
<li><a href='tdatdbd.html#charsetfunc'>tdat_CharSet</a>
<li><a href='tdatdbd.html#first'>tdat_FirstAvailable</a>
<li><a href='tdatdbd.html#firstlist'>tdat_FirstAvailList</a>
<li><a href='tdatdbd.html#realize'>tdat_Realize</a>
<li><a href='tdatdbd.html#ssvtext'>tdat_ServerSideVartext</a>
<li><a href='tdatdbd.html#utilsetup'>tdat_UtilitySetup</a>
</ul>
</ul>

<li><a href='tdatdbd.html#test'>Testing</a>
<li><a href='tdatdbd.html#conform'>Conformance</a>
<li><a href='tdatdbd.html#history'>Change History</a>
<li><a href='tdatdbd.html#tips'>Tips & Tricks</a>
<li><a href='tdatdbd.html#todo'>TO DO List</a>
<li><a href='tdatdbd.html#refs'>References</a>
<li><a href='tdatdbd.html#copy'>Copyright</a>
</ul>
<!-- INDEX END -->
